<div class="col-md-6"><div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> Stocks
  </div>
  <div class="panel-body">
    <%= content_tag :div, "", :id => "stocks_chart", :data => {:stocks => @results} %>
  </div>
</div>
  </div>
<script>
  Morris.Donut({
    element: 'stocks_chart',
    data: $('#stocks_chart').data('stocks')
  });
</script>