<%# @users = User.all %>
<%# @users.each do |user| %>
  <%#= user.username %><br/>
  <%#= user.email %><br/>
<%# end %>
<p id="notice"><%= notice %></p>

<div class="datatable">
  <table id="datatable_users" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
