<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <%= render 'shared/top_header' %>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                
                <li>
                    <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>

                <li>
                    <a href="/categories"><i class="fa fa-dashboard fa-fw"></i> Categories</a>
                </li>

                <li>
                    <a href="/regions"><i class="fa fa-dashboard fa-fw"></i>Regions</a>
                </li>

                <li>
                    <a href="/plot_files"><i class="fa fa-file fa-fw"></i>All Files</a>
                </li>

                <li>
                    <a href="/transactions"><i class="fa fa-file fa-fw"></i>Transactions</a>
                </li>

                <!-- <li>
                    <a href="/installments"><i class="fa fa-file fa-fw"></i>Installments</a>

                </li> -->

                <li>
                    <a href="/stocks"><i class="fa fa-file fa-fw"></i> Stocks</a>
                </li>
               
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

