<table class='table' cellpadding="3" cellspacing="0" border="0" >
    <thead>
        <tr>
            <th style='text-align:center;'>Pieces</th>
            <th style='text-align:center;'>Category</th>
            <th style='text-align:center;'>Region</th>
            <th style='text-align:center;'>C/O</th>
            <th style='text-align:center;'>Trader</th>
            <th style='text-align:center;'>Nature</th>
            <th style='text-align:center;'>Transaction Date</th>
            <th style='text-align:center;'>Alarm Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center" data-column="0"><input style="width:50px;"type="text" class="column_filter" id="col0_filter"></td>
            <td align="center" data-column="1"><input style="width:70px;" type="text" class="column_filter" id="col1_filter"></td>
            <td align="center" data-column="2"><input style="width:70px;" type="text" class="column_filter" id="col2_filter"></td>
            <td align="center" data-column="3"><input  style="width:70px;"type="text" class="column_filter" id="col3_filter"></td>
            <td align="center" data-column="4"><input style="width:70px;" type="text" class="column_filter" id="col4_filter"></td>
            <td align="center" data-column="8"><input style="width:60px;" type="text" class="column_filter" id="col8_filter"></td>
            <td align="center" data-column="10"><input style="width:120px;" type="text" class="column_filter" id="col10_filter"></td>
            <td align="center" data-column="11"><input style="width:70px;" type="text" class="column_filter" id="col11_filter"></td>
        </tr>
    </tbody>
</table>