<br>
<div class="panel panel-info">
  <div class="panel-heading">Global Filters 
    <button class="btn btn-info pull-right" id='printBtn'>Take Print</button>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">Panel Content</div>
</div>


<div class="row" id='reports'>
<% Transaction.modes.keys.each do |m| %>
  <div class="col-md-6">
    <%= render partial: 'report_segment', locals: {mode: m} %>
  </div>
<% end %>
</div>


<script type="text/javascript">
  $('#printBtn').on('click',function(){
    $('#reports').printThis();
  })
</script>