<p id="notice"><%= notice %></p>

<div class="datatable">
  <table id="datatable_files" class="display" cellspacing="0" width="100%">
      <thead>
          <tr>
              <th>Serial#</th>
              <th>Category</th>
          </tr>
      </thead>
  </table>
</div>
