<p id="notice"><%= notice %></p>

<div class="datatable">
	<table id="datatable_categories" class="display" cellspacing="0" width="100%">
	    <thead>
	        <tr>
	            <th>Name</th>
	            <th>Base Amount</th>
	            <th>Size</th>
	            <th>Unit</th>
	        </tr>
	    </thead>
	</table>
</div>

<script type="text/javascript">
	var editor; // use a global for the submit and return data rendering in the examples
    
 editor = new $.fn.dataTable.Editor( {
        ajax: {
            create: {
                type: 'POST',
                url:  '/categories'
            },
            edit: {
                type: 'PUT',
                url:  '/categories.json?id=_id_'
            },
            remove: {
                type: 'DELETE',
                url:  'categories.json?id=_id_'
            }
        },
        table: "#datatable_categories",
        fields: [ {
                label: "Name",
                name: "name"
            },
            {
                label: "Base Amount:",
                name: "base_amount"
            },
            {
                label: "Size:",
                name: "size"
            },
            {
                label: "Unit:",
                name: "unit"
            }
        ]
    } );
 
    $('#datatable_categories').DataTable( {
        dom: "Bfrtip",
        ajax: {'url': "/categories.json", "dataSrc":''},
        columns: [
            { data: "name" },
            { data: "base_amount" },
            { data: "size" },
            { data: "unit" },
        ],
        select: true,
        buttons: [
            { extend: "create", editor: editor },
            { extend: "edit",   editor: editor },
            { extend: "remove", editor: editor }
        ]
    } );

</script>