<p id="notice"><%= notice %></p>

<div class="datatable">
	<table id="datatable_categories" class="display" cellspacing="0" width="100%">
	    <thead>
	        <tr>
	            <th>Name</th>
	            <th>Size</th>
	            <th>Unit</th>
	        </tr>
	    </thead>
	</table>
</div>
