<p id="notice"><%= notice %></p>

<div class="datatable">
	<table id="datatable_categories" class="display" cellspacing="0" width="100%">
	    <thead>
	        <tr>
	            <th>Name</th>
	            <th>Base Amount</th>
	            <th>Size</th>
	            <th>Unit</th>
	        </tr>
	    </thead>
	</table>
</div>

<script type="text/javascript">
	var editor; // use a global for the submit and return data rendering in the examples
    
 editor = new $.fn.dataTable.Editor( {
        ajax: {
            create: {
                url:  '/categories',
                'contentType': "application/json",
                'type': 'POST',
                'data': function ( d ) {
                    var data = {category: d['data'][0]};
                    return JSON.stringify( data );
                },

            },
            edit: {
                type: 'PUT',
                url:  '/categories/_id_.json',
                'data': function ( d ) {
                    console.log(d);
                    var id;
                    for (var i in d.data) {
                      id = i;
                    }
                    var data = {category: d.data[i]};
                    return data;
                }
            },
            remove: {
                type: 'DELETE',
                url:  'categories/_id_.json'
            }
        },
        table: "#datatable_categories",
        idSrc:  'id',
        fields: [ {
                label: "Name",
                name: "name"
            },
            {
                label: "Base Amount:",
                name: "base_amount"
            },
            {
                label: "Size:",
                name: "size"
            },
            {
                label: "Unit:",
                name: "unit"
            }
        ]
    } );
 
    $('#datatable_categories').DataTable( {
        dom: "Bfrtip",
        ajax: {'url': "/categories.json", "dataSrc":''},
       
        columns: [
            { data: "name" },
            { data: "base_amount" },
            { data: "size" },
            { data: "unit" },
        ],
        select: true,
        buttons: [
            { extend: "create", editor: editor },
            { extend: "edit",   editor: editor },
            { extend: "remove", editor: editor }
        ]
    } );

</script>