<p id="notice"><%= notice %></p>

<div class="datatable">
  <table id="datatable_transactions" class="display" cellspacing="0" width="100%">
      <thead>
          <tr>
              <th>Amount</th>
              <th>File</th>
              <th>Total Amount</th>
              <th>Received Amount</th>
              <th>Remaining Amount</th>
              <th>Target Amount</th>

          </tr>
      </thead>
  </table>
</div>
