<p id="notice"><%= notice %></p>

<div class="datatable">
  <table id="datatable_transactions" class="display" cellspacing="0" width="100%">
      <thead>
          <tr>
            <th>Category</th>
            <th>Region</th>
            <th>Buyer</th>
            <th>Seller</th>
            <th>Total Amount (Rs)</th>
            <th>Received Amount (Rs)</th>
            <th>Remaining Amount (Rs)</th>
            <th>Nature</th>
            <th>Mode</th>
            <th>Alarm Date </th>
            <th>Created On </th>

          </tr>
      </thead>
  </table>
</div>
