<div class="col-md-4">
<h2>Import Transactions</h2>
<%= form_tag import_transactions_path, :multipart => true do %>
  <%= file_field_tag :excel_file %>
  <%= submit_tag "Import" %>
<% end %>
</div>
<p id="notice"><%= notice %></p>

<div class="datatable">
  <table id="datatable_transactions" class="display" cellspacing="0" width="100%">
      <thead>
          <tr>
            <th>Category</th>
            <th>Region</th>
            <th>C/O</th>
            <th>Trader</th>
            <th>Total Amount (Rs)</th>
            <th>Received Amount (Rs)</th>
            <th>Remaining Amount (Rs)</th>
            <th>Nature</th>
            <th>Mode</th>
            <th>Alarm Date </th>
            <th>Created On </th>
          </tr>
      </thead>
  </table>
</div>
