<p id="notice"><%= notice %></p>

<div class="datatable">
  <table id="datatable_regions" class="display" cellspacing="0" width="100%">
      <thead>
          <tr>
              <th>Name</th>
          </tr>
      </thead>
  </table>
</div>
